name: CI

on:
  push:
    branches:
      - main
      - develop
    path-ignore:
      - Docs/**
      - README.md
  pull_request:
    branches:
      - develop
    path-ignore:
      - Docs/**
      - README.md

env:
  DEVELOPER_DIR: /Applications/Xcode_11.6.app/Contents/Developer

jobs:
  test:
    runs-on: macOS-latest
    env:
      MINT_PATH: mint/lib
      MINT_LINK_PATH: mint/bin

    steps:
      - uses: actions/checkout@v2

      - name: Cache Gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Install Bundled Gems
        run: make install-bundler

      - name: Install Mint
        run: brew install mint

      - name: Cache Mint packages
        uses: actions/cache@v2
        with:
          path: mint
          key: ${{ runner.os }}-mint-${{ hashFiles('**/Mintfile') }}
          restore-keys: |
            ${{ runner.os }}-mint-

      - name: Install Carthage frameworks
        run: make install-carthage

      - name: Generate Xcode project and install Pods
        run: make generate-xcodeproj

      - name: Xcode build
        run: make build-debug

      - name: Xcode test
        run: make test

